<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-4">
        <h1 class="heading-section">Orders</h1>
      </div>
    </div>
    <div class="row" *ngIf="orders.length != 0">
      <div class="col-md-12">
        <!--					<h3 class="h5 mb-4 text-center">Table Accordion</h3>-->
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Product</th>
              <th>Price</th>
              <th>ADD</th>
              <th>Quantity</th>
              <th>REMOVE</th>
              <th>total</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr class="alert" role="alert" *ngFor="let order of orders">
              <td >
                <label class="checkbox-wrap checkbox-primary">
                </label>
              </td>
              <td class="image_style">
                <img class="img image_style" src="assets/img/{{order.imagePath}}" />
              </td>
              <td>
                <div class="email">
                  <div>{{order.name}} </div>
                  <div>{{ order.description }}</div>
                </div>
              </td>
              <td>${{ order.price }}</td>
              <td class="quantity">
                <div class="input-group">
                  <a (click)="addOrder(order)">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="{{order.quantity}}" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a (click)="decreaseOrder(order)">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>${{ order.quantity * order.price }}</td>
              <td>
                <button type="button" class="close"  aria-label="Close" (click)="remove(order)">
                  X
                </button>
              </td>
            </tr>
<!--            <tr class="alert" role="alert">-->
<!--              <td>-->
<!--                <label class="checkbox-wrap checkbox-primary">-->
<!--                </label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <img class="img" src="assets/img/menu-5.jpg" />-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="email">-->
<!--                  <span>Sneakers Shoes 2020 For Men </span>-->
<!--                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$44.99</td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-plus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-minus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$89.98</td>-->
<!--              <td>-->
<!--                <button type="button" class="close"  aria-label="Close">-->
<!--                  X-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr class="alert" role="alert">-->
<!--              <td>-->
<!--                <label class="checkbox-wrap checkbox-primary">-->
<!--                </label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <img class="img" src="assets/img/menu-5.jpg" />-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="email">-->
<!--                  <span>Sneakers Shoes 2020 For Men </span>-->
<!--                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$44.99</td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-plus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-minus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$89.98</td>-->
<!--              <td>-->
<!--                <button type="button" class="close"  aria-label="Close">-->
<!--                  X-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr class="alert" role="alert">-->
<!--              <td>-->
<!--                <label class="checkbox-wrap checkbox-primary">-->
<!--                </label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <img class="img" src="assets/img/menu-5.jpg" />-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="email">-->
<!--                  <span>Sneakers Shoes 2020 For Men </span>-->
<!--                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$44.99</td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-plus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-minus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$89.98</td>-->
<!--              <td>-->
<!--                <button type="button" class="close"  aria-label="Close">-->
<!--                  X-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr class="alert" role="alert">-->
<!--              <td>-->
<!--                <label class="checkbox-wrap checkbox-primary">-->
<!--                </label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <img class="img" src="assets/img/menu-5.jpg" />-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="email">-->
<!--                  <span>Sneakers Shoes 2020 For Men </span>-->
<!--                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$44.99</td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-plus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="quantity">-->
<!--                <div class="input-group">-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-minus"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>$89.98</td>-->
<!--              <td>-->
<!--                <button type="button" class="close"  aria-label="Close">-->
<!--                  X-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
            </tbody>
          </table>
          <button type="button" class="btn btn-success col-12">Take Order</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="orders.length === 0" class="d-flex justify-content-center align-items-center my-5">
        <div class="card text-center shadow-sm p-4" style="max-width: 500px;">
          <div class="card-body">
            <h4 class="card-title mb-3 text-primary">  No Order Found Now !  </h4>
<!--            <p class="card-text fs-5"> . ترقبوا ! شيء مذهل قريبا </p>-->
            <hr>
            <p class="card-text text-muted"> ! لا يوجد اى طلب   </p>
          </div>
        </div>
    </div>
  </div>
</section>
